@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.about-container {
    /* background-color: red; */
    width: 100%;
    height: 600px;
}

.about-box {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-heading {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: Montserrat;
}

.about-option {
    /* background-color: blue; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.op-1 {
    text-decoration: none;
    color: gray;
}

.about-para-1 {
    /* background-color: blue; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.para-13 {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.about-para-2 {
    width: 100%;
    height: 50px;
}

.para-14 {
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: end;
}

.para-15 {
    display: none;
}

.ul-4 {
    /* background-color: blue; */
    width: 80%;
    height: 300px;
    margin-left: 13%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:412px) {
    .about-box {
        height: 170px;
    }

    .about-para-1 {
        height: 170px;
        font-size: 0.9rem;
    }

    .para-13 {
        display: none;
    }

    .para-15 {
        display: block;
        margin-left: 10px;
    }

    .para-14 {
        width: 90%;
        margin-left: 10px;
        font-size: 0.8rem;
    }

    .ul-4 {
        width: 81%;
        margin-left: 6%;
        font-size: 0.9rem;
    }
}

@media (max-width:1200px) {
    .para-15 {
        display: block;
    }

    .para-13 {
        display: none;
    }
}

@media (max-width:930px) {
    .about-para-1 {
        height: 170px;
    }

    .para-14 {
        width: 100%;
        justify-content: start;
    }
}

@media (max-width:570px) {
    .para-14 {
        font-size: 0.8rem;
    }

    .ul-4 {
        margin-left: 10%;
    }
}

@media (max-width:467px) {
    .ul-4 {
        margin-left: 1%;
        font-size: 0.8rem;
    }
}

@media (max-width:412px) {
    .para-14 {
        width: 95%;
    }
}